body {
    background-color: white;
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: #000000;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .navbar {
     border-bottom: 4px solid dodgerblue; 
 }

 .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotate 1s 0s linear infinite;
 }
 @keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}