$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

//templating color
$color-primary: #4267b2;
$color-secondary: #4fd619;
$color-third: orange;

$color-black: #000000;
$color-white: #FFFFFF;
